/* SMALL DEVICES */

@media only screen and (max-width: 880px) {
  .top-banner-icon {
    display: none;
  }
  .top-banner-box {
    justify-content: center;
  }
  .top-banner {
    padding: 14px 16px;
  }

  .hero {
    padding: 0px 20px 0px 20px;
    flex-direction: column;
    justify-content: center;
  }
  .hero-img {
    display: flex;
    max-width: 100%;
  }
  .hero-content {
    width: 100%;
  }





  .features {
    display: flex;
    padding: 0px 80px 0px 80px;
 
  }

  .feature-boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .feature-box {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 10px;
    border: 1px solid var(--Green-85, #e5f5bd);
    background: #f6fbe9;
    width: 100%;
  }
}
