/* SMALL DEVICES */

@media only screen and (max-width: 880px) {
  .top-banner-icon {
    display: none;
  }

  .top-banner-box {
    justify-content: center;
  }
  .top-banner {
    padding: 14px 16px;
  }
}
